@font-face {
    font-family:northden ;
    src: local('northden'), url(../fonts/NORTHDENROUGH.ttf);
  }
  
  @font-face {
    font-family:brinnan ;
    src: local('brinnan'), url(../fonts/Brinnan\ Regular.otf);
  }

  @font-face {
    font-family:rnzsans ;
    src: local('rnzsans'), url(../fonts/RNSSanz-Normal.otf);
  }
  @font-face {
    font-family:roboto ;
    src: local('roboto'), url(../fonts/Roboto-Light.ttf);
  }


.container{
    display: flex;
    justify-content: center;
    padding: 180px;
    
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #1b1613;
   
}

.leftSide{
width: 20vw;

text-align: left;
}

.rightSide{
    width: 20vw;
    
    text-align: left;
}

.image{
    margin: 20px;
    margin-left: 50px;
    margin-bottom: 0px;
    width: 300px;
    text-align: center;
    align-self: center;

}

.border{
    margin: 0px 0px 0px 50px;
    width: 300px;
    border-bottom: 1px solid #ccc;
}
.icons{
    margin-left: 70px;
    margin-right: 70px;
}
.icon{
    display: inline-block;
    color: #fff;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #fff;
    padding: 0.5em 0.6em;
    font-size: 30px;
    margin: 15px;
    justify-content: center;
    text-align: center;
    align-self: center;
   
}

/* text */

.firstName{
    margin: 0;
    font-family:northden ;
    font-size: 60px;
    color: #fff;
    padding: 50px 0px 0px 50px;
}
.lastName{
    margin: 0;
    font-family:northden ;
    font-size: 60px;
    color: #fff;
    padding: 0px 0px 0px 50px;
}

.octagon{
    color: #fff;
    padding: 2px;
    padding: 0px 0px 0px 50px;
}

.title{
color: #fff;
font-size: 20px;
font-family:brinnan ;
margin: 4px;
}

.me{
    color: #fff;
    font-family:brinnan ;
    padding: 0px 0px 0px 50px;
}

.bread{
    color: #fff;
    font-family:roboto ;
    font-size: 18px;
    padding: 0px 100px 0px 50px;
}

.iconText{
    font-size: 10px;
    display:flex;
    justify-content: center;
    text-align: center;
    align-self: center;
}

@media only screen and (max-width: 2150px){
    .leftSide{
        width: 25vw;
        }
        
        .rightSide{
            width: 25vw;  
        }
}
@media only screen and (max-width: 1750px){
    .leftSide{
        width: 30vw;
       
        }
        .rightSide{
            width: 30vw; 
            
        }
}
@media only screen and (max-width: 1450px){
    .leftSide{
        width: 35vw;
        
        }
        .rightSide{
            width: 35vw; 
        
        }
}
@media only screen and (max-width: 1250px){
    .leftSide{
        width: 40vw;
       
        }
        .rightSide{
            width: 40vw; 
          
        }
}
@media only screen and (max-width: 1100px){
    .leftSide{
        width: 45vw;
        }
        .rightSide{
            width: 45vw; 
        }
}
@media only screen and (max-width: 1000px){
    .leftSide{
        width: 48vw;
        }
        .rightSide{
            width: 48vw; 
        }
}
@media only screen and (max-width: 900px){
    .container{
        padding: 10px;
    }
    .leftSide{
        width: 48vw;
        
        }
        .rightSide{
            width: 48vw; 
            
        }
}
@media only screen and (max-width: 750px){
    .container{
        padding: 10px;
    }
    
.grid{
    display: block;
}
    .leftSide{
        width: 80vw;
        }
        .rightSide{
            width: 80vw;  
        }
        .image{
            margin: 0px;
            margin-left: 10px;
        }
        .icons{
            margin-left: 20px;
            margin-right: 20px;
        }
        .border{
            margin: 0px 0px 0px 0px;
            width: 300px;
            
        }
        .bread{
            color: #fff;
            font-size: 18px;
            padding: 0px 10px 0px 50px;
            margin-right: 40px;
        }
        .icons{
            text-align: center;
        }
}

@media only screen and (max-width: 450px){
    .firstName{
        font-size: 50px;
    }
    .lastName{
        font-size: 50px;
    }
   
    .title{
        font-size: 0.9rem;
    }
    .image{
        margin: 0;
        width: 280px;
    }
    .imageDiv{
        justify-content: center;
        align-self: center;
        text-align: center;
    }
    .border{
        margin: 12px 30px 12px 0px;
        width: 265px;
    }
}