@font-face {
    font-family:rnzsans ;
    src: local('rnzsans'), url(../fonts/RNSSanz-Normal.otf);
  }
  @font-face {
    font-family:brinnan ;
    src: local('brinnan'), url(../fonts/Brinnan\ Regular.otf);
  }
  @font-face {
    font-family:megalona ;
    src: local('meglaona'), url(../fonts/BDMegalona-Regular.ttf);
  }

  @font-face {
    font-family:roboto ;
    src: local('roboto'), url(../fonts/Roboto-Light.ttf);
  }
.container{
    margin-top: 50px;
}

.icons{
    padding: 5px;
    margin: 12px;
    color: #fff;
}

.border{
    margin: 12px 30px 12px 0px;
    border-bottom: 0.5px solid #ccc;
}

.number{
    font-family:rnzsans ;
    font-size: 15px;
    margin-left: 50px;
}

.number2{
    font-family:rnzsans ;
    font-size: 15px;
    margin-left: 50px;
}

.experienceText{
    margin-top: 50px;
    color: #fff;
    font-family:brinnan ;
    font-size: 22px;
}

.education{
    margin-top: 50px;
    color: #fff;
    font-family:brinnan ;
    font-size: 22px;
}

/* experienceBox */

.title{
    margin:0;
    font-family:rnzsans ;
    color: #fff;
    font-size: 18px;
}
.time{
color: #fff;
font-family:rnzsans ;
font-size: 16px;
margin:0;
}

.timeStop{
    color: #fff;
    font-family:rnzsans ;
    font-size: 16px;
    margin:0;
    margin-bottom:20px;
    }

.place{
    color: #fff;
font-family:rnzsans ;
font-size: 14px;
margin:0;
}

.bread{
    color: #fff;
    font-family:roboto ;
font-size: 20px;
margin-right: 50px;
}

@media only screen and (max-width: 750px){
    .experienceText{
        padding: 0px 0px 0px 50px;
    }
    
    .education{
        padding: 0px 0px 0px 50px;
    }
    .title{
        margin-left: 50px;
    }
    .time{
        margin-left: 50px;
    }
    
    .timeStop{
        margin-left: 50px;
        }
    
    .place{
        margin-left: 50px;
    }
    
    .bread{
    margin-left: 50px;
    }
    .number2{
        display: block;
    }
}